{% extends "layout.html" %}

{% block content %}
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Principal Systems Analyst</h3>
            <div class="subheading mb-3">LIBERTY MUTUAL INVESTMENTS</div>
            <p>Gather requirements and drive the team toward delivering product through using Agile methodology, while meeting targets and preserving client value and quality by heading project meetings. Administer the product backlog, devise an effective vision, and deliver timely stakeholder feedback on development iterations. Facilitate end users to transfer out 1400+ holdings from LMI accounting system. Determine acceptance criteria and devise test scenarios/plans and perform user acceptance test (UAT) by collaborating with users.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2014 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Business Analyst</h3>
            <div class="subheading mb-3">OMGEO, LLC</div>
            <p>Delivered product, while attaining targets and objectives of the project and keeping client’s value and quality – e.g., delivering minimal viable product by participating in client meetings to gather requirements and driving the team towards the fastest way. Spearheaded and participated in the agile iteration planning meeting, showcase, and other agile ceremonies. Collaborated and liaised between business users and different teams involved in the post-trade settlement and central matching application development. Worked on post-trade settlement and matching solution for financial products such as Equity, Fixed Income, and REPOs.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2011 - September 2014</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Business Analyst</h3>
            <div class="subheading mb-3">THOMSON REUTERS</div>
            <p>Established UML diagrams using MS Visio, and formalized user guides and client presentations for the deployment of new functionality by preparing functional specification/business requirement documents. Derived the business specification document and facilitated in preparation of system requirement specifications by serving as a business analyst and analyzing business requirements. Planned and executed business strategy by participated in and facilitated different levels of discussions through JAD sessions and business workshops held.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2009 - October 2011</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Business Systems Analyst</h3>
            <div class="subheading mb-3">STATE STREET CORPORATION</div>
            <p>Spearheaded various projects including leading client facilitation meetings to gather requirements and work on business requirements by analyzing/designing architecture by using Rational Unified Process (RUP) Methodology. Worked on various applications such a Global Transaction Manager, Global Reference System and Instruct Trade Order manager systems.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2006 - November 2009</span>
          </div>
        </div>

      </div>

    </section>
{% endblock content %}