{% extends "layout.html" %}

{% block content %}
<hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">TECHNICAL PROFICIENCY &amp; TOOLS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Methodology: Scrum, Kanban, Lean, XP, RUP, Waterfall
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Requirement Management Tools: Microsoft Word, Excel, Powerpoint, Rational Requisite Pro</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Management Tools: Microsoft Project, JIRA, SharePoint, Active Batch</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Data Analysis Tools: MS Excel &Access, SQL Management Studio</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Designing Tools: Power BI, SQL Server Reporting Services (SSRS), Microsoft Visio</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Development: C, HTML5, CSS, jQuery, JavaScript</li>
        </ul>
      </div>
    </section>
{% endblock content %}